@import "./loading.css";
.container{
	display:flex;	
}
.nav-left{
	width:15%;
	min-width: 180px;
	background: #001529;
	height:calc(100vh);
	overflow:hidden
}
.main{
	flex:1;
	height:calc(100vh);
	background: #eee;
	overflow: auto;
	min-width: 620px;
}
.content{	
	position: relative;
	background: #fff;
	flex:1;
    min-height:calc(75vh);
}
.login{
	position: relative;
	height:calc(100vh);
	background: #001529
}
.login form{
	background: #fff;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	padding:30px 20px;
	border-radius: 5px
}
h3{
	font-size: 18px;
}
.buttonDiv{
    background: #fff;
    padding:15px 10px 10px;
}
table{
    margin-bottom: 15px
}
.ant-tabs-bar{
	z-index: 99;
}
.hoverbig:hover{
    -ms-transform:scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2); /* 标准语法 */
    transition: all .5s;
    z-index: 99;
}
.fr{
    position: relative;
    top:-4px;
    float: right;
}
.hoverable:hover{
    box-shadow: 4px 4px 10px rgba(0,0,0,.09);
    border-color: rgba(0,0,0,.09);
}
.ant-form{
	width:90%;
}